In [ ]:
#1
a = "string"
b = [1,2,3,4,5,"list", 45+1j]
c = 10.87
d = ("apple", "banana")

In [ ]:
#2
string
string
list
float

In [10]:
#3
a1 = 10 / 2 #division operator returns the quotient of the number i.e.5
print(a1)

b1 = 12 % 5 #modulo operator returns reminder of the number i.e. 2
print(b1)

c1 = 15 // 2 #floor division operator rounds the digit to nearest whole number i.e. 7
print(c1)

d1 = 3**3 #exponential operator, returns exponent of a number i.e. 27
print(d1)

5.0
2
7
27

In [11]:
#4 list to print elements and data type
list_1 = [1,3,5,7, "apple", "banana", 1.2, 2+3j, 'cherry',"mango"]
for i in list_1:
    print(i, type(i))

1 <class 'int'>
3 <class 'int'>
5 <class 'int'>
7 <class 'int'>
apple <class 'str'>
banana <class 'str'>
1.2 <class 'float'>
(2+3j) <class 'complex'>
cherry <class 'str'>
mango <class 'str'>

In [25]:
#5
A = 8
B = 2
count = 0
while A % B == 0:
    A = A / B
    count = count + 1
if count > 0:
    print(" A is divisible by B", count, "times")
else:
    print("A is not divisible by B")

 A is divisible by B 3 times

In [15]:
#6
list_2 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in list_2:
    if i % 3 == 0:
        print(i, "is divisible by 3")
    else:
        print(i, "is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [20]:
#7
#Mutable data types are data types where we can append or edit the current variable. Ex: Lists
#Immutable data tupes connot be edited or append the current variable. Ex: Strings

#mutable
list_3 = [1,3,5,7,9, "apple"]
print(list_3[5]) #returns apple

list_3[5] = "cherry"
print(list_3) #returns cherry in place of apple

#immutable
string1 = "Apple"
print(string1[3]) #returns 'l'

string1[3] = 'a'
print(string) #rteurns type error as string cannot be mutable

apple
[1, 3, 5, 7, 9, 'cherry']
l

TypeError: 'str' object does not support item assignment